
Acquire::http::Proxy "http://{{ proxy_username }}:{{ proxy_password }}@proxy.miet.ru:8080";
Acquire::https::Proxy "http://{{ proxy_username }}:{{ proxy_password }}@proxy.miet.ru:8080";
Acquire::ftp::Proxy "http://{{ proxy_username }}:{{ proxy_password }}@proxy.miet.ru:8080";

