export http_proxy=http://{{ proxy_username }}:{{ proxy_password }}@proxy.miet.ru:8080
export https_proxy=http://{{ proxy_username }}:{{ proxy_password }}@proxy.miet.ru:8080

export HTTP_PROXY=http://{{ proxy_username }}:{{ proxy_password }}@proxy.miet.ru:8080
export HTTPS_PROXY=http://{{ proxy_username }}:{{ proxy_password }}@proxy.miet.ru:8080

