---
ansible_user                 : tcsadmin
ansible_ssh_private_key_file : ~/.ssh/tcsadmin
ansible_sudo_pass            : "{{ vault_ansible_sudo_pass }}"

proxy_username               : "{{ vault_proxy_username }}"
proxy_password               : "{{ vault_proxy_password }}"
proxy_env                    : "http://{{ proxy_username }}:{{ proxy_password }}@proxy.miet.ru:8080"

student_username             : student
student_password             : "{{ vault_student_password | password_hash('sha512') }}"

